
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.btn {
  border: 50;
  color:rgb(0, 0, 0);
  font-weight: gotic;
  background-color: rgb(47, 213, 255);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 20px solid rgba(168, 11, 11, 0.534);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}